* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.direction-keys {
  height: 100px;
  width: 100px;

  display: grid;
  grid-template-areas:
    "up-left up up-right"
    "left mid right"
    "down-left down down-right";
}

.arrow-key {
  background-color: yellow;
  border: none;
}

.arrow-key:hover {
  background-color: rgb(248, 244, 7);
}

.arrow-key:active {
  background-color: rgb(238, 238, 2);
}

.mid {
  grid-area: mid;
  background-color: yellow;
}

#btn-up {
  grid-area: up;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#btn-down {
  grid-area: down;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#btn-left {
  grid-area: left;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#btn-right {
  grid-area: right;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.start-select {
  width: 70px;
  border-radius: 10px;
}

.btn-control {
  height: 40px;
  width: 40px;
  border: none;
  background-color: red;
}

.gameboy-container {
  background-color: rgb(3, 205, 148);
  width: 300px;
  height: 440px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.gameboy-screen {
  background-color: greenyellow;
  width: 250px;
  height: 200px;
  border-radius: 10px;
}

#btn-kick {
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
  background: cyan;
}

#btn-kick:hover {
  background: rgb(1, 233, 233);
  transition: all 0.3s;
}

#btn-punch {
  border-radius: 50%;
  background: greenyellow;
}

#btn-punch:hover {
  background: rgb(157, 234, 42);
  transition: all 0.3s;
}

#btn-jump {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#btn-jump:hover {
  background-color: rgb(231, 3, 3);
  transition: all 0.3s;
}
